<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 언더스코어를 카멜케이스로 자동 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <!-- 도메인 객체 별칭 설정 -->
        <package name="org.scoula.security.account.domain" />
        <package name="org.scoula.board.domain" />
    </typeAliases>
</configuration>